# Block files in the form simpleversionTree.*
/[a-zA-Z0-9_-]*.cs
/[a-zA-Z0-9_-]*.csproj
/[a-zA-Z0-9_-]*.deps.json
/[a-zA-Z0-9_-]*.dll
/[a-zA-Z0-9_-]*.pdb
/[a-zA-Z0-9_-]*.runtimeconfig.json

# Ignore top-level files with no extension
/[a-zA-Z0-9_-]*

# Allow directories again
!/*/



